/*Antoine début*/

*{
	margin: 0;
	padding: 0;
}

html{

}

body{
	font-size: 18px;
	background-image: url('../img/fond1.png');
	background-color: #3b3b3a;
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	background:rgba(100,100,100,.3);
	display: flex;
	justify-content: space-between;
	background-image: url('../img/simplon.co.png');
	background-position: left;
	background-size: 200px 60px;
	background-repeat: no-repeat;
	position: absolute; top: 1em; left: 0em; right: 0em;
}

header ul li{
	list-style: none;
}

header ul li a{
	text-transform: none;

}

header ul li a i{
	color: red;
}


.logo{
	background: url("../img/simplon.co.png");
}

.settings--home{
	float: right;
	padding-right: 2em;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

footer{
	display: inline;
	position: absolute; bottom: 2px; left: 1em; right: 1em;
}

.copy{
	float: left;
}

.design{
	float: right;
}

/*Antoine fin*/

/*vanessa*/
.select_gr{
	position: absolute;
	margin-left: 45%;
	top: 45%;
}

#groupe{
	top: 300%;
	width: 50px;
	transform: translateY(-50%, -50%);
	height: 25px;
	background:#fafafa;
	font:bold 13px Arial;
	border-radius:20%;
	color:#555;
}

#lancement{	
	width:90px;
	height:90px;
	background-image:url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	/*box-shadow:2px 2px 8px #000;*/
	font:bold 11px Arial;
	font:bold 12px Arial;
	border-radius:50%;
	color:#555;
	border: 0;
	outline: none;
}

a img {
	border: 0;
	outline: none;
}

a {
	border: 0;
	outline: none;
}


#student_list{
	margin-top: 30px;
}
#student_box{
	float: left;
	width: 200px;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgba(256,256,256,0.3);
}
#endFloat{
	clear: all;
}

a:active {
	outline: none;
}

img {
	outline: none;
	border: 0;
}
input::-moz-focus-inner {
	border: 0;
}


