*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-size: 18px;
	background-color: grey;
	min-height: 100%;
	background-image: url('');
}

header{
	display: flex;
	background-color: grey;
	color: ;
	justify-content: space-between;
	background-image: url('../img/simplon.co.png');
	background-position: left;
	background-size: 200px 40px;
	background-repeat: no-repeat;
	
	margin-left: 1em;
	margin-right: 1em;
}

header ul{
 
}

header ul li{
	list-style: none;
}

header ul li a{
	text-transform: none;
}

/*.logo{
	float: left;
	
	width: 50px;
	height: 20px;
}*/

.titre {
	/*float: center;*/
}

.settings{
	float: right;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

footer{
	display: inline;
	position: absolute; bottom: 1em; left: 1em; right: 1em;
}

.copy{
	float: left;
}

.design{
	float: right;
}