*{
	margin: 0;
	padding: 0;
}

html{
	/*height: 100%;*/
	/*width: 100%;*/
}

body{
	font-size: 18px;
	background-color: grey;
	/*min-height: 100%;
	min-width: 100%;*/
	background-image: url('../img/fond1.png');
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	background:rgba(100,100,100,.3);
	display: flex;
	/*background-color: grey;*/
	justify-content: space-between;
	background-image: url('../img/simplon.co.png');
	background-position: left;
	background-size: 200px 60px;
	background-repeat: no-repeat;
	margin-left: 1em;
	margin-right: 1em;
}

header ul{
 
	/*margin-left: 1em;
	margin-right: 1em;*/
	/*border: solid 1px;*/
	/*background-color: ;*/
	position: absolute; top: 1em; left: 0em; right: 0em;
}

header ul li{
	list-style: none;
}

header ul li a{
	text-transform: none;
}


.logo{
	background: url("../img/simplon.co.png");
}

.settings--home{
	float: right;
	padding-right: 2em;
}

h1{
	text-align: center;
	text-transform: uppercase;
}

footer{
	display: inline;
	position: absolute; bottom: 1em; left: 1em; right: 1em;
}

.copy{
	float: left;
}

.design{
	float: right;
}

/*vanessa*/
.select_gr{
	position: absolute;
	margin-left: 45%;
	top: 45%;
}

#groupe{
	top: 300%;
	width: 30px;
	transform: translateY(-50%, -50%);
	height: 25px;
	background:#fafafa;
	font:bold 13px Arial;
	border-radius:20%;
	color:#555;
}

#lancement{	
	width:90px;
	height:90px;
	background-image:url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	/*box-shadow:2px 2px 8px #000;*/
	font:bold 11px Arial;
	font:bold 12px Arial;
	border-radius:50%;
	color:#555;
	border: none;
}
